@charset "utf-8";
/* CSS Document */

	body {background-color: #EFC1EA;
				}
	
	
			h1 {font-family: Calibri;
				font-weight: bold;
				margin-top: 60px;
				width: 700px;
				background-color: #E1A6DB;
				padding: 4px;
				}
				
			h2{font-weight: bold;
				margin-top: 60px;
				width: 200px;
				background-color: #DDB7D8;
				padding: 5px;
				}
			
			p1 {font-family:Calibri;
				text-align: justify;
				}
				
				
			.svi {
				margin-left: 50px;
				}	
				
			#prvi {color:gray;}
			#drugi {color:navy}
		